{{define "navbar"}}
<ul class="navbar-nav mb-1 mb-lg-0 d-flex">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/signup">Sign up</a>
    </li>
</ul>
{{end}}

{{define "body"}}
<form hx-post="/login" hx-target="#messages" hx-encoding="multipart/form-data" novalidate>
  <div class="form-group">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
  <div class="form-group">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary mt-2">Log in</button>
</form>
<div class="mt-2"> Don't have an account? <a href="/signup">Sign up</a></div>
<div id="messages">{{ template "messages" . }}</div>
{{end}}

{{define "messages"}}
{{ if .ErrorMessage }}
<div class="alert alert-danger mt-3" role="alert">
  {{ .ErrorMessage }}
</div>
{{ end }}

{{ if .Success }}
<div class="alert alert-success mt-3" role="alert">
  You are now logged in</a>.
</div>
{{ end }}
{{ end }}