{{define "upload-form"}}
<form
    id="upload-form"
    class="form" 
    hx-post="/files" 
    hx-encoding="multipart/form-data"
    hx-target="#upload-form"
    hx-swap="outerHTML"
    novalidate
>
    <div class="input-group">
        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="file" required>
        <button class="btn btn-primary" type="submit" id="inputGroupFileAddon04">Upload</button>
    </div>

    {{ if .ErrorMessage }}
    <div class="alert alert-danger mt-3" role="alert">
        {{ .ErrorMessage }}
    </div>
    {{ end }}

    {{ if .Success }}
    <div class="alert alert-success mt-3" role="alert">
        File has been successfully uploaded.
    </div>
    {{ end }}
</form>
{{end}}
