{{define "body"}}

<h4>Upload File</h4>
<form  class="form" 
    hx-post="/upload" 
    hx-encoding="multipart/form-data"
    hx-target="#messages">
    <div class="mb-3">
        <label for="avatarInput" class="form-label">Select Image</label>
        <input type="file" class="form-control" id="avatarInput" name="avatar" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<div id="messages"></div> <!-- Container where server response will be injected -->
{{end}}